   {% load static %}
   
   <!-- footer section start -->
   <div class="footer-main-wrapper float_left ptb-100">
    <div class="container">
       <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
             <div class="link">
                <span>Call Now</span>
                <h4>+234 906 377 0844</h4>
                <span>Get Special Email Offers</span>
                
                <div class="input-filed">
                   <input type="email" placeholder="Your Email">
                   <button style="background-color:#6282B1; border:#6282B1;">Join Us</button>
                </div>
             </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
             <div class="widgettitle">
                <h4>Our Service</h4>
                
                <div class="link-page">
                   <ul>
                      <li>
                         <a href="{% url 'about' %}">About Us</a>
                      </li>
                      <li>
                         <a href="{% url 'products' %}">Product</a>
                      </li>
                      <li>
                         <a href="{% url 'contact' %}">Contact Us</a>
                      </li>
                      {% comment %} <li>
                         <a href="checkout.html">Checkout</a>
                      </li> {% endcomment %}

                   </ul>
                </div>
             </div>
          </div>
          
       </div>
    </div>
 </div>
 <div class="copy-right-wrapper float_left">
    <div class="container">
       <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-12 col-12">
             <div class="copy-social">
                <ul>
                   <li>
                      <a href="javascript:;"><i class="fab fa-facebook-f"></i></a>
                   </li>
                   <li>
                      <a href="javascript:;"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                   </li>
                   <li>
                      <a href="javascript:;"><i class="fab fa-google" aria-hidden="true"></i></a>
                   </li>
                   <li>
                      <a href="javascript:;"><i class="fab fa-whatsapp" aria-hidden="true"></i></a>
                   </li>
                   <li>
                      <a href="javascript:;"><i class="fab fa-youtube" aria-hidden="true"></i></a>
                   </li>
                   <li>
                      <a href="javascript:;"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a>
                   </li>
                </ul>
             </div>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12 col-12" style="color:#6282B1;">
             <div class="copy-right">
                <p style="color:#6282B1;">Copyright 2024 © </p>
                <a href="javascript:;" style="color:#6282B1;">Decutz Meatshop</a>
                <p style="color:#6282B1;">Developed By</p>
                <a href="javascript:;" style="color:#6282B1;">VexTech</a>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- footer section end -->