   {% load static %}
   
   <!-- footer section start -->
   <div class="footer-main-wrapper float_left ptb-100">
    <div class="container">
       <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
             <div class="link">
                <span>Call Now</span>
                <h4>+1 800 123 4567</h4>
                <span>Get Special Email Offers</span>
                <div class="line">
                   <img src="images/4.png" alt="line">
                </div>
                <div class="input-filed">
                   <input type="email" placeholder="Your Email">
                   <button>Join Us</button>
                </div>
             </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
             <div class="widgettitle">
                <h4>Our Service</h4>
                <div class="line">
                   <img src="images/4.png" alt="line">
                </div>
                <div class="link-page">
                   <ul>
                      <li>
                         <a href="about-us.html">About Us</a>
                      </li>
                      <li>
                         <a href="product.html">Product</a>
                      </li>
                      <li>
                         <a href="product-left-sidebar.html">Product left Sidebar</a>
                      </li>
                      <li>
                         <a href="product-right-sidebar.html">Product Right Sidebar</a>
                      </li>
                      <li>
                         <a href="product-single.html">Product Single</a>
                      </li>
                      <li>
                         <a href="checkout.html">Checkout</a>
                      </li>

                   </ul>
                </div>
             </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
             <div class="widgettitle">
                <h4>Our Story</h4>
                <div class="line">
                   <img src="images/4.png" alt="line">
                </div>
                <div class="link-page">
                   <ul>
                      <li>
                         <a href="blog-left-sidebar.html">Blog Left Sidebar</a>
                      </li>
                      <li>
                         <a href="blog-right-sidebar.html">Blog Right Sidebar</a>
                      </li>
                      <li>
                         <a href="blog-single-left-sidebar.html">Blog Single Left Sidebar</a>
                      </li>
                      <li>
                         <a href="blog-single-right-sidebar.html">Blog Single Right Sidebar</a>
                      </li>
                      <li>
                         <a href="privacy.html">Privacy</a>
                      </li>
                      <li>
                         <a href="terms.html">Terms of Use</a>
                      </li>
                   </ul>
                </div>
             </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
             <div class="widgettitle">
                <h4>Our Story</h4>
                <div class="line">
                   <img src="images/4.png" alt="line">
                </div>
                <div class="link-page">
                   <div class="img-ftr">
                      <div class="small-img"> <img src="images/s1.jpg" alt="img"> </div>
                      <div class="small-img"> <img src="images/s2.jpg" alt="img"> </div>
                      <div class="small-img"> <img src="images/s3.jpg" alt="img"> </div>
                      <div class="small-img"> <img src="images/s4.jpg" alt="img"> </div>
                      <div class="small-img"> <img src="images/s5.jpg" alt="img"> </div>
                      <div class="small-img"> <img src="images/s6.jpg" alt="img"> </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <div class="copy-right-wrapper float_left">
    <div class="container">
       <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-12 col-12">
             <div class="copy-social">
                <ul>
                   <li>
                      <a href="javascript:;"><i class="fab fa-facebook-f"></i></a>
                   </li>
                   <li>
                      <a href="javascript:;"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                   </li>
                   <li>
                      <a href="javascript:;"><i class="fab fa-google" aria-hidden="true"></i></a>
                   </li>
                   <li>
                      <a href="javascript:;"><i class="fab fa-whatsapp" aria-hidden="true"></i></a>
                   </li>
                   <li>
                      <a href="javascript:;"><i class="fab fa-youtube" aria-hidden="true"></i></a>
                   </li>
                   <li>
                      <a href="javascript:;"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a>
                   </li>
                </ul>
             </div>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12 col-12">
             <div class="copy-right">
                <p>Copyright 2022 © </p>
                <a href="javascript:;">Butcher | Meat Shop HTML Template</a>
                <p>Design By</p>
                <a href="javascript:;">Webstrot</a>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- footer section end -->