{% extends 'base.html' %}
{% load static %}

{% block title %} About {% endblock title %}

{% block content %}
<!-- banner section start start-->
<div class="inner-slider-wrapper float_left">
    <div class="container">
       <div class="inner-caption">
          <h4>About Us</h4>
       </div>
       <ol class="breadcrumb sicon">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="active">About us</li>
       </ol>
      
    </div>
 </div>
 <!-- banner section start end-->
 <div class="about-sec-wrapper float_left ptb-100">
    <div class="container">
       <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12">
             <div class="about-img-sec float_left">
                <figure class="abt-img1">
                   <img src="{% static 'assets/images/ban.jpg' %}" style="height:300px; width:450px;" alt="img">
                </figure>
             </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 mar-left">
             <div class="about-text float_left">
                <h4>About Our Shop</h4>
                <p>we are committed to total transparency about our services.</p>
             </div>
             <div class="div_p">
                <p>Nunc elementum purus vel ex iaculis eleifend. Curabitur bibendum odio dui, at placerat
                   antperer vitae. In hac habitasse platea dictumst. Phasellus nec sodales enim. Mauris malesuada
                   nulla
                   hole enim, nec eleifend lacus vulputate ut.
                </p>
                <br>
                <p>Nunc elementum purus vel ex iaculis eleifend. Curabitur bibendum odio dui, at placerat
                   antperer vitae. In hac habitasse platea dictumst. Phasellus nec sodales enim. Mauris malesuada
                   nulla
                   hole enim, nec eleifend lacus vulputate ut.
                </p>
             </div>
             
          </div>
       </div>
    </div>
 </div>
 
 <div class="our-info-main-wrapper float_left ptb-100">
    <div class="container">
       <div class="row">
          <div class="col-lg-4 col-md-12 col-12">
             <div class="blog-box">
                <div class="blog-img">
                   <img src="{% static 'assets/images/ban.jpg' %}" alt="img">
                </div>
                <div class="blog-text">
                   <h4 style="color:#6282B1;">OUR MISSION </h4>
                   <p class="p-text"> Nunc elementum purus ex iaculis elfend. Curabitur bibendum odio du</p>
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-12 col-12">
             <div class="blog-box">
                <div class="blog-img">
                   <img src="{% static 'assets/images/ban.jpg' %}" alt="img">
                </div>
                <div class="blog-text">
                   <h4 style="color:#6282B1;"> OUR HISTORY </h4>
                   <p class="p-text">Nunc elementum purus ex iaculis elfend. Curabitur bibendum odio du</p>
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-12 col-12">
             <div class="blog-box">
                <div class="blog-img">
                   <img src="{% static 'assets/images/ban.jpg' %}" alt="img">
                </div>
                <div class="blog-text">
                   <h4 style="color:#6282B1;"> WHAT WE DO </h4>
                   <p class="p-text">Nunc elementum purus ex iaculis elfend. Curabitur bibendum odio du</p>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
{% endblock content %}