{% extends 'base.html' %}
{% load static %}

{% block title %} {% endblock title %}

{% block content %}
<!-- banner section start start-->
<div class="index1-slider-wrapper float_left ptb-100">
    <div class="container">
       <div class="slider-caption wow fadeInUp" data-wow-delay="0.1s">
          <h4>Organic Meat and Sustainable Sea Food for You</h4>
          <a class="custom-btn" href="{% url 'products' %}" style="background-color:#6282B1;"> See Our Products </a>
       </div>
       
    </div>
 </div>
 <!-- banner section start end-->
 <div class="about-sec-wrapper float_left ptb-100">
    <div class="container">
       <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
             <div class="about-img float_left">
                <img src="{% static 'assets/images/abm.jpg' %}" alt="img">
             </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
             <div class="about-text float_left">
                <h4>About Decutzshop</h4>
                <p>we are committed to total transparency about our products.</p><br/>
             </div>
             
             <div class="div_p">
                <p>Welcome to Decutzshop, where quality meats and exceptional service come together to create an unparalleled shopping experience.
                   Founded with a passion for providing the best meats to our community,
                   we specialize in delivering premium beef, chicken, and turkey products that are both delicious and nutritious.
                </p>
                <br>
                <p>At Decutzshop, we believe that great meals start with great ingredients. 
                  Our journey began with a simple idea: to offer fresh, high-quality meats that our customers can trust. From the very beginning, 
                  we have been committed to sourcing our meats from trusted farmers and suppliers who share our dedication to excellence and ethical practices.
                </p>
                <a class="custom-btn" href="{% url 'about' %}" style="background-color:#6282B1;">Read More</a>
             </div>
          </div>
       </div>
    </div>
 </div>
 
 <div class="product-filter-main-wrapper float_left ptb-100">
   <div class="container">
      <div class="heading-title">
         <h4>Our Products</h4>
        
      </div>
      <div class="row">
         
         <div class="col-lg-12 col-md-12 col-12">
            <div class="custom-tbs-content float_left">
               
               <div id="Egg" class="tabcontent">
                  
                  <div class="product-new-filter-block">
                     {% for product in product %}
                     <div class="custom-tabs-prdt">
                        <div class="product-thumbnail">
                           <a href="javascript:;">
                              <img src="{{product.imageURL}}" alt="img">
                           </a>
                        </div>
                        <div class="product-body">
                           <h5 class="product-title">
                              <a href="product-single.html">{{product.name}}</a>
                           </h5>
                           <ul class="star-review">
                              <li> <a href="javascript:;"><i class="fa fa-star" aria-hidden="true"></i></a> </li>
                              <li> <a href="javascript:;"><i class="fa fa-star" aria-hidden="true"></i></a> </li>
                              <li> <a href="javascript:;"><i class="fa fa-star" aria-hidden="true"></i></a> </li>
                              <li> <a href="javascript:;"><i class="fa fa-star" aria-hidden="true"></i></a> </li>
                              <li> <a href="javascript:;"><i class="fa fa-star" aria-hidden="true"></i></a> </li>
                           </ul>
                           
                           <p class="product-text">{{product.description}}</p>
                           
                        </div>
                     </div>
                     {% endfor %}
                    
                     <div class="center-btn">
                        <a href="{% url 'products' %}" style="background-color:#6282B1;">View All</a>
                     </div>
                  </div>
               </div>
            </div>
            
         </div>
         
      </div>
   </div>
  
</div>

<div class="our-butchery-wrapper float_left">
   <div class="container">
      <div class="row">
         <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="about-text float_left">
               <h4>Our Process</h4>
               <p>we are committed to total transparency about our products.</p>
            </div>
            <div class="div_p">
               <p class="p1">We take pride in offering only the finest cuts of meat. Our beef, chicken, 
                  and turkey are carefully selected to ensure tenderness, 
                  flavor, and superior quality. Each product undergoes rigorous quality checks to meet our high standards.
               </p>
               <br>
               <p class="p1">We are dedicated to sustainable and responsible sourcing practices. 
                  Our suppliers follow humane animal welfare practices and sustainable farming methods, 
                  ensuring that our meats are not only good for you but also good for the environment.
               </p>
               <br>
               <p class="p1">
                  Your satisfaction is our top priority. Our knowledgeable staff is here to assist you with personalized service, 
                  whether you need help selecting the perfect cut or have questions about preparation and cooking techniques.
               <p>
               <a class="custom-btn" href="{% url 'about' %}" style="background-color:#6282B1;">Read More</a>
            </div>
         </div>
         <div class="col-lg-7 col-md-12 col-sm-12">
            <div class="about-img-block">
               <figure class="img1">
                  <img class="img-fluid" src="{% static 'assets/images/ban.jpg' %}" alt="img">
               </figure>
               
            </div>
         </div>
      </div>
   </div>
</div>



{% endblock content %}