{% extends 'base.html' %}

{% load static %}

{% block title %} Products {% endblock title %}

{% block content %}

<!-- banner section start start-->
<div class="inner-slider-wrapper float_left">
    <div class="container">
       <div class="inner-caption">
          <h4>All Product</h4>
          <img src="images/title.png" alt="img">
       </div>
       <ol class="breadcrumb sicon">
          <li><a href="">Home</a></li>
          <li><a href="">Category</a></li>
          <li class="active">All Product</li>
       </ol>
       <img class="meat" src="images/title-bottom.png" alt="img">
    </div>
 </div>
 <!-- banner section start end-->

 <div class="product-filter-main-wrapper float_left ptb-100">
    <div class="container">
       <div class="heading-title">
          <h4>Our Product's</h4>
          <p>know about our delivery processes</p>
          <img class="img-fluid" src="images/line-yal.png" alt="img">
       </div>
       <div class="row">
          <div class="col-lg-12 col-md-12 col-12">
             <div class="custom-tbs-content float_left">
                
                <div id="Egg" class="tabcontent">
                   <div class="product-new-filter-block">

                      <div class="custom-tabs-prdt">
                         <div class="product-thumbnail">
                            <a href="javascript:;">
                               <img src="images/product/pc15.png" alt="img">
                            </a>
                         </div>
                         <div class="product-body">
                            <h5 class="product-title">
                               <a href="product-single.html">Chickens</a>
                            </h5>
                            <ul class="star-review">
                               <li> <a href="javascript:;"><i class="fa fa-star" aria-hidden="true"></i></a> </li>
                               <li> <a href="javascript:;"><i class="fa fa-star" aria-hidden="true"></i></a> </li>
                               <li> <a href="javascript:;"><i class="fa fa-star" aria-hidden="true"></i></a> </li>
                               <li> <a href="javascript:;"><i class="fa fa-star" aria-hidden="true"></i></a> </li>
                               <li> <a href="javascript:;"><i class="fa fa-star" aria-hidden="true"></i></a> </li>
                            </ul>
                            <span class="product-price">3,500$ <span>4,600$</span> </span>
                            <p class="product-text">Lorem Ipsum is simply dummy text of the printing and typesetting
                               industry.</p>
                            <a class="custom-btn" href="product-single.html">Add Cart</a>
                         </div>
                      </div>

                      <div class="custom-tabs-prdt">
                         <div class="product-thumbnail">
                            <a href="javascript:;">
                               <img src="images/product/pc16.png" alt="img">
                            </a>
                         </div>
                         <div class="product-body">
                            <h5 class="product-title">
                               <a href="product-single.html">guinea fowl</a>
                            </h5>
                            <ul class="star-review">
                               <li> <a href="javascript:;"><i class="fa fa-star" aria-hidden="true"></i></a> </li>
                               <li> <a href="javascript:;"><i class="fa fa-star" aria-hidden="true"></i></a> </li>
                               <li> <a href="javascript:;"><i class="fa fa-star" aria-hidden="true"></i></a> </li>
                               <li> <a href="javascript:;"><i class="fa fa-star" aria-hidden="true"></i></a> </li>
                               <li> <a href="javascript:;"><i class="fa fa-star" aria-hidden="true"></i></a> </li>
                            </ul>
                            <span class="product-price">3,500$ <span>4,600$</span> </span>
                            <p class="product-text">Lorem Ipsum is simply dummy text of the printing and typesetting
                               industry.</p>
                            <a class="custom-btn" href="product-single.html">Add Cart</a>
                         </div>
                      </div>

                      <div class="custom-tabs-prdt">
                         <div class="product-thumbnail">
                            <a href="javascript:;">
                               <img src="images/product/pc17.png" alt="img">
                            </a>
                         </div>
                         <div class="product-body">
                            <h5 class="product-title">
                               <a href="product-single.html">turkeys </a>
                            </h5>
                            <ul class="star-review">
                               <li> <a href="javascript:;"><i class="fa fa-star" aria-hidden="true"></i></a> </li>
                               <li> <a href="javascript:;"><i class="fa fa-star" aria-hidden="true"></i></a> </li>
                               <li> <a href="javascript:;"><i class="fa fa-star" aria-hidden="true"></i></a> </li>
                               <li> <a href="javascript:;"><i class="fa fa-star" aria-hidden="true"></i></a> </li>
                               <li> <a href="javascript:;"><i class="fa fa-star" aria-hidden="true"></i></a> </li>
                            </ul>
                            <span class="product-price">3,500$ <span>4,600$</span> </span>
                            <p class="product-text">Lorem Ipsum is simply dummy text of the printing and typesetting
                               industry.</p>
                            <a class="custom-btn" href="product-single.html">Add Cart</a>
                         </div>
                      </div>
                      
                   </div>
                </div>
             </div>
          </div>

       </div>
    </div>
 </div>



 <div class="call-now-wrapper float_left">
    <div class="container">
       <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-6"></div>
          <div class="col-lg-6 col-md-12 align-self-end">
             <div class="call-sec-wrapper float_left">
                <h4>Call Now</h4>
                <img class="img-fluid" src="images/line-yal-red.png" alt="img">
                <h2 class="call">+61 3 8376 6284</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentumlaoreet velit ut rhoncus.
                   Class aptent taciti sociosqu ad litora torquent per conubia nostra</p>
                <a class="custom-btn" href="store.html">Contact Us</a>
             </div>
          </div>
       </div>
    </div>
 </div>
{% endblock content %}