{% extends 'base.html' %}

{% load static %}

{% block title %} Products {% endblock title %}

{% block content %}

<div class="inner-slider-wrapper float_left">
    <div class="container">
       <div class="inner-caption">
          <h4>All Product</h4>
       </div>
       <ol class="breadcrumb sicon">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="active">All Product</li>
       </ol>
      
    </div>
 </div>

 <div class="product-filter-main-wrapper float_left ptb-100">
   <div class="container">
       <div class="heading-title">
          <h4>Our Products</h4>
          <p>know about our products</p>
          
       </div>
       <div class="row">
          <div class="col-lg-12 col-md-12 col-12">
             <div class="custom-tbs-content float_left">
                
                <div id="Egg" class="tabcontent">
                   <div class="product-new-filter-block">

                     {% for product in product %}
                     <div class="custom-tabs-prdt">
                        <div class="product-thumbnail">
                           <a href="javascript:;">
                              <img src="{{product.imageURL}}" alt="img">
                           </a>
                        </div>
                        <div class="product-body">
                           <h5 class="product-title">
                              <a href="product-single.html">{{product.name}}</a>
                           </h5>
                           <ul class="star-review">
                              <li> <a href="javascript:;"><i class="fa fa-star" aria-hidden="true"></i></a> </li>
                              <li> <a href="javascript:;"><i class="fa fa-star" aria-hidden="true"></i></a> </li>
                              <li> <a href="javascript:;"><i class="fa fa-star" aria-hidden="true"></i></a> </li>
                              <li> <a href="javascript:;"><i class="fa fa-star" aria-hidden="true"></i></a> </li>
                              <li> <a href="javascript:;"><i class="fa fa-star" aria-hidden="true"></i></a> </li>
                           </ul>
                           
                           <p class="product-text">{{product.description}}</p>
                           
                        </div>
                     </div>
                     {% endfor %}

                   </div>
                </div>
             </div>
          </div>

       </div>
    </div>
 </div>



 <div class="call-now-wrapper float_left">
    <div class="container">
       <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-6"></div>
          <div class="col-lg-6 col-md-12 align-self-end">
             <div class="call-sec-wrapper float_left">
                <h4 style="color:#6282B1">Call Now</h4>
                <h2 class="call">+234 906 377 0844</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentumlaoreet velit ut rhoncus.
                   Class aptent taciti sociosqu ad litora torquent per conubia nostra</p>
                <a class="custom-btn" href="{% url 'contact' %}" style="background-color:#6282B1">Contact Us</a>
             </div>
          </div>
       </div>
    </div>
 </div>
{% endblock content %}